# Dependencies
node_modules
.pnp
.pnp.js

# Output
.next
out
build
public/pagefind

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.*.local

# Misc
.DS_Store
*.log
.vercel
.next-turbo

# Contentlayer
.contentlayer
.contentlayer-cache

# Pagefind
pagefind_indices
